@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: url("https://images.pexels.com/photos/5547058/pexels-photo-5547058.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    font-weight: normal;
    font-size: 4rem;
    margin-top: -10rem;
}

.countdown-container {
    display: flex;
}

.big-text {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}

.countdown-el {
    text-align: center;
}

.countdown-el span {
    font-size: 1.5rem;
}